*{
    margin: 0;
    padding: 0;
    font-family:cursive;
    box-sizing: border-box;
    background: linear-gradient(155deg ,rgba(238, 39, 125, 0.893),rgba(3, 21, 50, 0.91),rgba(223, 248, 135, 0.893));
    background-size: cover;

}
.container{
    width: 100%;
    min-height: 100vh;
}
.to-do{
    width: 100%;
    max-width: 540px;
    background: rgb(147, 110, 143);
    margin: 100px auto 20px;
    padding: 40px 30px 50px;
    border-radius: 10px;
}
.to-do h2{
    color: rgb(13, 13, 13);
    background: rgb(147, 110, 143);
    display: flex;
    align-items :center;
    margin-bottom: 20px;
}
.to-do h2 i{
width: 30px;
margin: 25px;
color: rgb(17, 16, 16);
background: rgb(147, 110, 143) ;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(227, 217, 217);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: grey;
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
#list-container{
    background: transparent;
}
ul li{
    list-style:none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select:none;
    cursor: pointer;
    background:#555;
    position: relative;
    border: black;
    margin: 3px;
    border-radius: 20px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-image: url(https://th.bing.com/th/id/OIP.DmG5VKILJM-tMFamSGeVVgAAAA?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
    


}
ul li.checked{ 
   color: #efeded;
   text-decoration-line: line-through;
   
}
ul li.checked::before{
    background-image: url(https://th.bing.com/th/id/OIP.96XTco8th-ZnoLZURYLXjAHaHa?rs=1&pid=ImgDetMain);
  
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    background: rgb(155, 139, 139);
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: rgb(232, 211, 211);
}